<div class="pitch">
	<h3>Did you Know?</h3>
	<ul>
		<li>At least 100,000 crashes are caused by drowsy drives, each year.</li>
		<li>62% of surveyed American adults (72% of men and 54% of women) reported driving while feeling drowsy.</li>
		<li><a href="http://www.carleton.ca/JMC/cnews/23032001/feature.htm">Sleepy drivers are a highway nightmare [link]</a></li>
	</ul>
</div>