<div class="pitch">
	<p>
		Sometimes you have to drive when sleepy.  Open the windows,
		blast the stereo, use this app.  We designed this app because
		we know what it is like to try to stay awake on the road.
	</p>
	
	<ul>
		<li>Set tap intervals to avoid subconscious repetition</li>
		<li>Loud enough to alert passengers of failure</li>
		<li>Alerts touch, site, and audible senses</li>
	</ul>
</div>