<div class="pitch">
	<p>
		Before my first daughter was born I knew that I wanted her
		to learn a little about what it is that I do.  So I thought
		an ABC programming book would be perfect.  A little over 2
		years later, here it is!
	</p>
	
	<ul>
		<li>Programming terms pulled from many languages</li>
		<li>Beautiful illustrations to keep your kid's attention</li>
		<li>Available as eBook, iPhone and iPad apps</li>
	</ul>
</div>