<div class="pitch">
	<h3>Resources</h3>
	<ul>
		<li><a href="http://drowsydriving.org/">Drowsy Driving: National Sleep Foundation</a></li>
		<li><a href="http://www.gadling.com/2010/11/11/five-sleepy-driving-stats-to-scare-you-for-thanksgiving/">Drowsy Driving Stats</a></li>
		<li><a href="http://www.health.state.ny.us/prevention/injury_prevention/drowsy_driving.htm">Driving Awareness</a></li>
	</ul>
</div>